/*
 * ETHOSSENCE FAQS SECTION STYLES
 * Displays FAQs with 40/60 question/answer split on desktop
 * Stacked layout on mobile with alternating row colors
 */

.ethossence-faqs {
  width: 100%;
}

.ethossence-faqs__heading {
  margin-bottom: 2rem;
}

.ethossence-faqs__heading--left {
  text-align: left;
}

.ethossence-faqs__heading--center {
  text-align: center;
}

.ethossence-faqs__heading--right {
  text-align: right;
}

.ethossence-faqs__list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ethossence-faqs__item {
  padding: 2rem 1.5rem;
  background-color: #ffffff;
}

.ethossence-faqs__item--grey {
  background-color: #f5f5f5;
}

.ethossence-faqs__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ethossence-faqs__question h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
}

.ethossence-faqs__answer {
  font-size: 1rem;
  line-height: 1.6;
}

.ethossence-faqs__answer p {
  margin: 0 0 1rem 0;
}

.ethossence-faqs__answer p:last-child {
  margin-bottom: 0;
}

.ethossence-faqs__empty {
  padding: 3rem 1.5rem;
  text-align: center;
  color: rgba(var(--color-foreground), 0.5);
}

/* Desktop: 40/60 split layout */
@media screen and (min-width: 750px) {
  .ethossence-faqs__heading {
    margin-bottom: 3rem;
  }

  .ethossence-faqs__item {
    padding: 3rem 2rem;
  }

  .ethossence-faqs__content {
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
  }

  .ethossence-faqs__question {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .ethossence-faqs__question h3 {
    font-size: 1.25rem;
  }

  .ethossence-faqs__answer {
    flex: 0 0 60%;
    max-width: 60%;
    font-size: 1.0625rem;
  }
}

/* Larger desktop */
@media screen and (min-width: 990px) {
  .ethossence-faqs__item {
    padding: 3.5rem 3rem;
  }

  .ethossence-faqs__content {
    gap: 4rem;
  }

  .ethossence-faqs__question h3 {
    font-size: 1.375rem;
  }

  .ethossence-faqs__answer {
    font-size: 1.125rem;
  }
}
